.dashboard {
    width: 100%;
    padding: 50px;

    // For scroll bar style
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #e6e6e6;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px #bdbdbd;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        span,
        b {
            font-size: 17px;
            font-weight: 400;
            color: #004cef;
        }
        span {
            color: #a5a5a5;
        }
        .header__right {
            display: flex;
            justify-content: space-between;
            gap: 1em;
            align-items: center;
            &_buttons {
                display: flex;
                justify-content: space-between;
                gap: 0.5em;
                .contain {
                    background-color: #004cef;
                    padding: 6px 25px;
                    color: white;
                    border-radius: 5px;
                }
                .outline {
                    background-color: white;
                    border: 1px solid #004cef;
                    padding: 6px 25px;
                    border-radius: 5px;
                }
            }
            &_icons {
                display: flex;
                align-items: center;

                img {
                    margin: 0 15px;
                    width: 36px;
                }
            }
        }
    }

    // Dashboard Notication
    .dashboardnotification {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        gap: 1em;
        align-items: center;
        width: 100%;
        padding: 26px;
        background-color: #ffefef;
        border-color: 1px solid #f1ecec;
        border-radius: 20px;
        p {
            color: #4c4b49;
        }
        a {
            color: #004cef;
        }
    }

    // Dashboard Container
    .dashboardContainer {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        .dashboardcontainer__right {
            flex-basis: 100%;
            .dashboardtabs {
                padding: 20px;
                .dasboardtabs__upload {
                    padding: 20px;
                    margin: 40px 0;
                    border: 1px solid #7c7c7c;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    a {
                        color: blue;
                    }
                }
            }
        }
        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            .feather__card {
                position: relative;
                width: 396px;
                padding: 30px;

                // Dashboard card notes

                .card__header {
                    display: flex;
                    justify-content: space-between;
                }

                // dashboard card user
                .feather__card_menu {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                h1 {
                    font-size: 17px;
                    padding: 0;
                    color: #464646;
                }
                a {
                    margin: 10px 0;
                }
                img {
                    max-width: 72px;
                }
                span {
                    color: #7c7c7c;
                    font-size: 14px;
                }
                hr {
                    background-color: #ebeaea;
                    margin: 10px 0;
                }
                .profile {
                    display: flex;
                    gap: 1em;
                    align-items: center;
                    img {
                        max-width: 57px;
                    }
                }
            }
        }

        // Dashboard Tabs
        .dashboardtabs {
            .tabs__document {
                // tab details
                .tab__content {
                    display: flex;
                    ul {
                        display: block !important;
                        width: 100%;
                        .tab__post {
                            margin-bottom: 20px;
                            width: 100%;
                            display: flex;
                            .document_name {
                                display: flex;
                                flex-direction: column;
                                b {
                                    font-size: 17px;
                                }
                                span {
                                    color: #aaaaaa;
                                    font-size: 12px;
                                }
                            }
                            .tab__post_buttons {
                                margin-left: auto;
                                display: flex;
                                gap: 1em;
                                a {
                                    display: flex;
                                }
                            }
                        }
                    }
                }
                ul {
                    display: flex;
                    margin: 10px 0;
                    .active_tab {
                        color: #004cef;
                        padding: 5px;
                        border-bottom: 4px solid #004cef;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        box-icon {
                            margin-right: 5px;
                        }
                        margin-right: 10px;
                        list-style: none;
                        &:last-child {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
}

.react-tabs__tab--selected {
    background: transparent !important;
    border-color: transparent !important;
    color: black !important;
    border-radius: 0 !important;
    border-bottom: 4px solid #004cef !important;
}
