.notes {
    max-height: 300px;
    overflow-y: scroll;
    margin-top: 15px;
    .note {
        display: flex;
        position: relative;
        margin-bottom: 15px;
        gap: 1em;
        padding: 10px;
        &:hover {
            border-radius: 10px;
            background-color: #e7eefe;
        }
        .rounded__avatar {
            min-width: 37px;
            height: 37px;
            background-color: red;
            border-radius: 50px;
        }
        .note__details {
            padding-right: 10px;
            b {
                font-size: 14px;
            }
            p {
                font-size: 14px;
                color: #4d4d4d;
            }
            span {
                font-size: 12px;
                color: #9a9a9a;
                margin-right: 20px;
            }
        }
        box-icon {
            margin-left: auto;
        }
    }
}
